
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.scorelab.sense"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	
    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" >
        
        
			<activity android:name="org.scorelab.sense.SenseActivity"
				android:theme="@android:style/Theme.Translucent.NoTitleBar"
				android:label="@string/app_name">
				<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
				</intent-filter>
			</activity>
        <service
            android:name="org.scorelab.sense.Sense"
            android:enabled="true"
            android:icon="@drawable/icon"
            android:label="@string/app_name" >
        </service>

        <receiver android:name="org.scorelab.sense.SenseScheduleReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
                <action android:name="android.intent.action.QUICKBOOT_POWERON" />
                <category android:name="android.intent.category.LAUNCHER" />
                  
                
            </intent-filter>
        </receiver>
        
        
    </application>

</manifest>