<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.scorelab.sense"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppTheme" 
        >
        <service
            android:name="org.scorelab.sense.Sense"
            android:icon="@drawable/icon"
            android:label="@string/app_name"
            android:enabled="true" >
        </service>

        <receiver android:name="org.scorelab.sense.SenseScheduleReceiver" >
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED" />
            </intent-filter>
        </receiver>
        <receiver android:name="StartSenseScheduleReceiver" >
        </receiver>
    </application>

</manifest>