[project]
	description = Sense is an Android device usage monitoring framework 
[access "refs/*"]
	owner = group user/Charitha Madusnaka (charitha-scorelab)
[access "refs/for/refs/*"]
	read = group user/Charitha Madusnaka (charitha-scorelab)
	push = group user/Charitha Madusnaka (charitha-scorelab)
	label-Code-Review = -2..+2 group user/Charitha Madusnaka (charitha-scorelab)
	label-Verified = -1..+1 group user/Charitha Madusnaka (charitha-scorelab)
	rebase = group user/Charitha Madusnaka (charitha-scorelab)
	removeReviewer = group user/Charitha Madusnaka (charitha-scorelab)
	submit = group user/Charitha Madusnaka (charitha-scorelab)
[access "refs/heads/*"]
	read = group user/Charitha Madusnaka (charitha-scorelab)
	create = group user/Charitha Madusnaka (charitha-scorelab)
	push = +force group user/Charitha Madusnaka (charitha-scorelab)
	pushMerge = group user/Charitha Madusnaka (charitha-scorelab)
[access "refs/tags/*"]
	push = +force group user/Charitha Madusnaka (charitha-scorelab)
	pushTag = group user/Charitha Madusnaka (charitha-scorelab)
	pushSignedTag = group user/Charitha Madusnaka (charitha-scorelab)
